@(message: String)

@main("TypesafeRaytracerDemo") {

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.Application.start,
    routes.javascript.Application.pause,
    routes.javascript.Application.stop)

    <script type="text/javascript" charset="utf-8">
        var message = function(msg) {
            $('#raysPerSecond').text(msg);
        }

        function instruct(instruction) {
            if (instruction == "#start") {
                $("#resultText").html("<h2>Raytracing in progress</h2>");
                disableButton("#startBtn");
                enableButton("#pauseBtn");
                enableButton("#stopBtn");
                jsRoutes.controllers.Application.start().ajax({});
            } else if (instruction == "#pause") {
                $("#resultText").html("&nbsp;");
                enableButton("#startBtn");
                disableButton("#pauseBtn");
                disableButton("#stopBtn");
                jsRoutes.controllers.Application.pause().ajax({});
            } else {
                $("#resultText").html("<h2>Press 'Start' to raytrace an image</h2>");
                enableButton("#startBtn");
                disableButton("#pauseBtn");
                disableButton("#stopBtn");
                jsRoutes.controllers.Application.stop().ajax({});
            }
		}

        function enableButton(buttonId) {
            $(buttonId).removeClass('btn large primary disabled');
            $(buttonId).addClass('btn large primary');
        }

        function disableButton(buttonId) {
            $(buttonId).removeClass('btn large primary');
            $(buttonId).addClass('btn large primary disabled');
        }
    </script>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Typesafe Raytracing Demo</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <header>
        <div class="inner">
            <div class="container">
                <h1>Bootstrap, from Twitter</h1>
            </div>
        </div>
    </header>

    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span10">
              <div class="well" style="height: 600px;">
                  <div id="resultText" align="center">
                    <h2>Press 'Start' to raytrace an image</h2>
                  </div>
                  <div id="resultImage" align="center" style="height: 500px; width: 400px">
                      <img src="@routes.Assets.at("images/result.png")" style="height: 570px; width: 540px">
                  </div>
              </div>
          </div>
          <div class="span4">
              <div class="well" style="height: 600px;">
                  <h3>Typesafe Raytracing</h3>
                  <p>Showcasing the power of Scala, Play and Akka.</p>
                  <br>
                  <p>Press 'Start', 'Pause' or 'Stop' to operate the tracing process.</p>
                  <br>
                  <a href="#" id="startBtn" onclick="instruct('#start');" class="btn large primary" style="width: 150px;">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;START
                  </a>
                  <br>
                  <a href="#" id="pauseBtn" onclick="instruct('#pause');" class="btn large primary disabled" style="width: 150px;">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PAUSE
                  </a>
                  <br>
                  <a href="#" id="stopBtn" onclick="instruct('#stop');" class="btn large primary disabled" style="width: 150px;">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;STOP
                  </a>
                  <br><br>
                  <h4>Number of Clients</h4>
                  <div id="clientCount">0</div>
                  <h4>Rays/second</h4>
                  <div id="raysPerSecond"></div>
                  <h4>Generated Layers</h4>
                  <div id="layerCount">0</div>
              </div>
          </div>
        </div>
      </div>

      <!-- wire comet methods -->
      <iframe src="@routes.Application.rays" style="display:none"></iframe>

      <footer>
        <p>&copy; Typesafe 2011</p>
      </footer>
    </div>
}